.creator {
  @apply pb-[4.375rem];

  &-header {
    @apply flex p-4 min-h-[6.25rem];
    @apply items-start;

    .avatar {
      @apply flex w-8 h-8;
      @apply items-center justify-center;
      @apply rounded-full overflow-hidden bg-foreground;
    }

    .textarea-wrapper {
      @apply flex-1 min-h-[4.25rem] ml-4 py-[0.375rem];
      @apply text-sm text-foreground;
      @apply outline-none overflow-hidden box-border;

      .textarea {
        @apply flex-1;
        @apply resize-none hidden;
      }

      .placeholder {
        @apply text-placeholder;
      }
    }
  }

  &-body {
    @apply py-7 px-4;

    .image-list {
      @apply grid grid-cols-3 gap-5;
      @apply justify-items-stretch;
    }

    .image {
      @apply relative;

      padding-bottom: 100%;

      &-wrapper {
        img {
          @apply w-full h-full;
          @apply object-cover;
        }
      }

      .delete {
        @apply flex w-5 h-5 top-2 right-2;
        @apply absolute items-center justify-center;
        @apply rounded-full;
        @apply text-white;

        background: rgba(0, 0, 0, 0.7);
      }
    }

    .upload {
      @apply relative w-full;

      padding-bottom: 100%;

      &-wrapper {
        @apply flex;
        @apply items-center justify-center;

        .icon {
          @apply flex w-6 h-6;
          @apply items-center justify-center;
          @apply text-primary;
        }
      }
    }

    .image-wrapper,.upload-wrapper {
      @apply w-full h-full;
      @apply absolute top-0 left-0;
      @apply border-2 border-hint border-solid;
      @apply box-border rounded-standard overflow-hidden;
      @apply bg-surface;
    }

    .file-input {
      @apply hidden;
    }
  }

  &-footer {
    @apply flex w-full py-[1.125rem] px-[1rem];
    @apply absolute bottom-0 left-0 z-10;
    @apply items-center;
    @apply bg-background;

    .publish {
      @apply flex-1;
    }
  }
}
