@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-standard {
    @apply rounded-[1.25rem];
  }
  .rounded-tl-standard {
    @apply rounded-tl-[1.25rem];
  }
  .rounded-tr-standard {
    @apply rounded-tr-[1.25rem];
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-background;
}

.slide-right-enter-active,
.slide-right-leave-active {
  @apply absolute transition-all duration-300;
}

.slide-right-enter-from {
  @apply translate-x-full;
}

.slide-right-enter-to {
  @apply translate-x-0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  @apply absolute transition-all duration-500;
}

.slide-left-enter-from {
  @apply -translate-x-full;
}

.slide-left-enter-to {
  @apply translate-x-0;
}

.toaster {
  /* HACK: for dark mode */
  @apply !bg-background !text-foreground !border-foreground;

  /* HACK: cover the area outside the offset for mobile devices */
  width: calc(100% - 32px) !important;
}
