@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-standard {
    @apply rounded-[1.25rem];
  }
  .rounded-tl-standard {
    @apply rounded-tl-[1.25rem];
  }
  .rounded-tr-standard {
    @apply rounded-tr-[1.25rem];
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
